spring:

  h2:
    console:
      enabled: true

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        show_sql: true

jwt:
  header: Authorization
  #echo 'test-testtest-test-testtest-test-testtest-test-testtest-test-testtest-test-testtest'|base64
  secret: dGVzdC10ZXN0dGVzdC10ZXN0LXRlc3R0ZXN0LXRlc3QtdGVzdHRlc3QtdGVzdC10ZXN0dGVzdC10ZXN0LXRlc3R0ZXN0LXRlc3QtdGVzdHRlc3QK
  token-validity-in-seconds: 86400


logging:
  level:
    com.cuki: DEBUG